
<div class="upsell-wrapper-debug">
  WRAPPER LOADED — closest.product present?
  {% if closest.product %}true{% else %}false{% endif %}
</div>
{%- assign upsell = closest.product.metafields.custom.upsell_product.value -%}
{% if upsell %}
  <div id="UpsellBlock-{{ block.id }}-{{ section.id }}" {{ block.shopify_attributes }}>
    {% render 'upsell-bundle', upsell: upsell, section_id: section.id, block_id: block.id %}
  </div>
{% endif %}

{% schema %}
{
  "name": "Upsell bundle",
  "settings": [],
  "presets": [
    {
      "name": "Upsell bundle"
    }
  ]
}
{% endschema %}