<div id="UpsellBlock-{{ block.id }}-{{ section.id }}" class="upsell-block" {{ block.shopify_attributes }}>
  {% render 'upsell-bundle',
     upsell: closest.product.metafields.custom.upsell_product.value,
     section_id: section.id,
     block_id: block.id %}
</div>